.header {
  background: $header-bg;
  position: fixed;
  width: 100%;
  padding: 35px 30px;
  overflow: auto;
  font-size: small;
}

.header h1 {
  float: left;
  margin: 0;
  padding: 0 15px;
  font-size: 24px;
  line-height: 56px;
  font-weight: 400;
}

.header nav {
  float: right;
  padding-top: 10px;
  font-size: 100%;
}

.header nav a {
  letter-spacing: 1.6px;
  color: $black;
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  font-size: medium;
  transition: color .1s ease;

  &.is-active {
    font-weight: 700;
  }

  &.about-link.is-active, &.about-link:hover {
    color: $about-active;
  }

  &.work-link.is-active, &.work-link:hover {
    color: $work-active;
  }

  &.contact-link.is-active, &.contact-link:hover {
    color: $contact-active;
  }

  &.links-link.is-active, &.links-link:hover {
    color: $links-active;
  }
}
