.Showcase {
  margin: 0 auto;

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__elem {
    padding: 2%;
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 25%;
  }
}
