.video-background {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -100;
  background-size: cover;
  overflow: hidden;

  &__video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    // right: 0;
    // bottom: 0;
    // background: url(../img/index-image.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
  }
}
