@import '../../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

// variables
@import './variables';

// components
@import './components/header';
@import './components/showcase';
@import './components/tags';
@import './components/video-background';
@import './components/work';

html, body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  min-height: 100%;
  height: 100%;
  line-height: 23px;
  letter-spacing: 1px;
}

.container {
  padding: 30px;
}

// temp
.contact {
  height: 100vh;
}

.temp {
  height: 100vh;
}

