$gray: #979797;

$green: #ADA53E;
$blue: #506BB7;

$black: #363636;
$pale-white: #F8F4EE;
$white: #FFFFFF;

$header-bg: #FAF4EE;

$work-active: #E2C2AE;
$about-active: #ECC300;
$contact-active: $blue;
$links-active: $green;

$belle-font: 'Bellefair', serif;
