.showcase {
  margin: 0 auto;
}

.showcase__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.showcase__elem {
  padding: 2%;
  box-sizing: border-box;
  flex-grow: 1;
  width: 25%;
}

.showcase__elem img {
  max-width: 100%;
}
